In [1]:
import pandas as pd
import os

os.chdir("../gslab_misc/SaveData/")
from SaveData import SaveData

In [2]:
test_df = pd.read_csv('tests/data/data.csv')

In [3]:
SaveData(test_df, ['id'], '../../issue176_fillna_warning/temp.csv')

In [4]:
test_df.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,10.0,NaN,NaN,NaN,5.5,3.02765,1.0,3.25,5.5,7.75,10.0
partid1,10,4,a,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
partid2,10.0,NaN,NaN,NaN,1.9,0.875595,1.0,1.0,2.0,2.75,3.0
name,10,3,cc,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num,9.0,NaN,NaN,NaN,510.0,1496.258333,6.0,8.0,10.0,19.0,4500.0